<!-- Menu for authentified users -->

<div id="appContainer">
    <a id="logo" href="/">
        <img src="/images/logo.png" alt="">
    </a>
    <div id="linkContainer">
        <a class="routerlink" href="/wallets">Management</a>
        <span class="routerlink separator">|</span>
        <a class="routerlink" href="/statistics">Statistics</a>
        <span class="routerlink separator">|</span>
        <a class="routerlink" href="/premium">Premium</a>
        <span class="routerlink separator">|</span>
        <a class="routerlink" href="/logout">Logout</a>
    </div>
</div>
<hr id="mobileSeparator"/>