<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'HomePage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuRestrictFragment.ejs'); -%>
    <div class="home" id="homeContainer">
        <%- include('./fragments/texts/welcomeTextFragment.ejs'); -%>
        <div id="subAndLog">
            <a class="button" href="/login">Se connecter</a>
            <a class="button" href="/subscribe">S'inscrire</a>
        </div>
    </div>
</body>

</html>