<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'HomePage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuRestrictFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div class="home" id="homeContainer">

        <!-- Welcome text -->
        <div id="welcome">
            <p>Welcome to your new online investment portfolio !</p>
            <p>Our application will allow you to monitor your different assets regardless of their type.</p>
            <p>For example :</p>
            <ul>
                <li>The Stocks</li>
                <li>The Crypto-assets</li>
                <li>The Bonds</li>
                <li>And many others</li>
            </ul>
            <p>A statistics page will give you access to more details about your profits and diversification.</p>
            <p>Don't wait any longer, registration is free. More features will be offered with a Premium account (free for the moment, enjoy it).</p>
        </div>

        <!-- Login and Subscribe buttons -->
        <div id="subAndLog">
            <a class="button" href="/login">Login</a>
            <a class="button" href="/subscribe">Sign up</a>
        </div>
    </div>
</body>

</html>