<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'LoginPage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuRestrictFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div class="login">
        <h1>Login page</h1>
        <%- include('./fragments/forms/loginFormFragment.ejs'); -%>
    </div>
</body>

</html>