<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'LoginPage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuRestrictFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div class="login">
        <h1>Login page</h1>

        <!-- Login form -->
        <form action="/user/connect" method="post">
            <div>
                Mail : <input type="email" name="mail" required>
                Password : <input type="password" name="password">
            </div>
            <input type="submit" formaction="/user/forgotPwd" value="I forgot my password">
            <input type="submit" value="Send my credentials">
        </form>
    </div>
</body>

</html>