<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'LoginPage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuRestrictFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div id="login">
        <h1>Login page</h1>

        <!-- Login form -->
        <form action="/user/connect" method="post">
            <div id="form">
                <div><label>Mail :</label><input type="email" name="mail" required></div>
                <div><label>Password :</label><input type="password" name="password"></div>
            </div>
            <input type="submit" class="button" formaction="/user/forgotPwd" value="I forgot my password">
            <input type="submit" class="button" value="Send my credentials">
        </form>
    </div>
</body>

</html>