<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'LoginPage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuRestrictFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div id="loginContainer">

        <!-- Login form -->
        <form action="/user/connect" method="post">
            <fieldset id="formLoginComponent">
                <legend>Login</legend>
                <div class="formItem">
                    <label for="mail">Mail :</label>
                    <input id="mail" type="email" name="mail" placeholder="john.doe@mail.com" required>
                </div>
                <div class="formItem">
                    <label for="password">Password :</label>
                    <input id="password" type="password" name="password" placeholder="**********">
                </div>
            </fieldset>
            <div id="forgotAndConnect">
                <input type="submit" class="button buttonOther" formaction="/user/forgotPwd" value="Reset password">
                <input type="submit" class="button" value="Connect">
            </div>
        </form>
    </div>
</body>

</html>