<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'StatisticsPage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div class="premium">
        <h1>Premium page</h1>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequuntur, eligendi reiciendis numquam, voluptatum doloremque illo nisi enim adipisci tenetur maiores veritatis illum cumque iure atque sed quidem eum soluta?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequuntur, eligendi reiciendis numquam, voluptatum doloremque illo nisi enim adipisci tenetur maiores veritatis illum cumque iure atque sed quidem eum soluta?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequuntur, eligendi reiciendis numquam, voluptatum doloremque illo nisi enim adipisci tenetur maiores veritatis illum cumque iure atque sed quidem eum soluta?</p>
        </div>

        <!-- Premium form -->
        <form action="/user/premium" method="post">
            <input type="submit" value="Become a Premium Member">
        </form>
      </div>
</body>

</html>