<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'StatisticsPage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div class="premium">
        <h1>Premium page</h1>
        <div>
            <p>What are the advantages of the premium mode?</p>
            <p>
                For the moment, users with a basic subscription can't create more than 3 wallets.<br/>
                A premium user will have the opportunity to create up to 10 wallets!
            </p>
            <p>In addition, it will unlock certain features:</p>
            <ul>
                <li>The use of price alerts</li>
                <li>The use of more assets</li>
                <li>And many more</li>
            </ul>
            <p>As these features are not yet implemented on the site, the premium subscription is, for a limited time, free for all.</p>
        </div>

        <!-- Premium form -->
        <form action="/user/premium" method="post">
            <input type="submit" value="Become a Premium Member">
        </form>
      </div>
</body>

</html>