<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/StatisticsPage.css">
    <title>My App</title>
</head>

<body>
    <div id="appContainer">
        <a id="logo" href="/">
            <img src="/images/logo.png" alt="">
        </a>
        <a class="routerlink" href="/wallets">Gestion</a>
        <span class="routerlink">|</span>
        <a class="routerlink" href="/statistics">Statistics</a>
        <span class="routerlink">|</span>
        <a class="routerlink" href="/premium">Premium</a>
        <span class="routerlink">|</span>
        <a class="routerlink" href="/logout">Logout</a>
    </div>
    <div class="premium">
        <h1>Premium page</h1>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequuntur, eligendi reiciendis numquam, voluptatum doloremque illo nisi enim adipisci tenetur maiores veritatis illum cumque iure atque sed quidem eum soluta?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequuntur, eligendi reiciendis numquam, voluptatum doloremque illo nisi enim adipisci tenetur maiores veritatis illum cumque iure atque sed quidem eum soluta?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequuntur, eligendi reiciendis numquam, voluptatum doloremque illo nisi enim adipisci tenetur maiores veritatis illum cumque iure atque sed quidem eum soluta?</p>
        </div>
        <form action="/user/premium" method="post">
            <input type="submit" value="Devenir Premium">
        </form>
      </div>
</body>

</html>