<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'StatisticsPage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div class="statistics">
        <h1>Statistics page</h1>
        <%- include('./fragments/statisticsFragment.ejs'); -%>
    </div>
</body>

</html>