<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'SubscribePage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuRestrictFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div id="subscribeContainer">
        <!-- Create a new account form -->
        <form action="/user/create" method="post" >
            <fieldset id="formSubscribeComponent">
                <legend>Create account</legend>
                <div class="formItem">
                    <label for="name">Name :</label>
                    <input id="name" name="name" type="text" placeholder="Doe">
                </div>
                <div class="formItem">
                    <label for="surname">Surname :</label>
                    <input id="surname" name="surname" type="text" placeholder="John">
                </div>
                <div class="formItem">
                    <label for="mail">Mail :</label>
                    <input id="mail" name="mail" type="email" placeholder="john.doe@mail.com">
                </div>
                <div class="formItem">
                    <label for="password">Password :</label>
                    <input id="password" name="password" type="password" placeholder="**********">
                </div>
                <div class="formItem">
                    <label for="passwordConfirm">Confirm password :</label>
                    <input id="passwordConfirm" name="passwordConfirm" type="password" placeholder="**********">
                </div>
            </fieldset>
            <div id="createButton">
                <input value="Create my account" type="submit" class="button">
            </div>
        </form>
    </div>
</body>

</html>