<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'SubscribePage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuRestrictFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div class="subscribe">
        <h1>Subscribe page</h1>
        <%- include('./fragments/forms/subscribeFormFragment.ejs'); -%>
    </div>
    </div>
</body>

</html>