<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/SubscribePage.css">
    <title>My App</title>
</head>

<body>
    <div id="appContainer">
        <a id="logo" href="/" exact>
            <img src="/images/logo.png" alt="">
        </a>
    </div>
    <div class="subscribe">
        <h1>Subscribe page</h1>
        <form action="/user/create" method="post">
            <div>
                Nom : <input name="name" type="text" id="">
                Prénom : <input name="surname" type="text" id="">
                Mail : <input name="mail" type="text" id="">
                Mot de passe : <input name="password" type="password" id="">
                Confirmer le mot de passe : <input name="passwordConfirm" type="password" id="">
            </div>
            <input value="Envoyer les infos" type="submit">
        </form>
    </div>
    </div>
</body>

</html>