<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'SubscribePage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuRestrictFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div class="subscribe">
        <h1>Subscribe page</h1>

        <!-- Create a new account form -->
        <form action="/user/create" method="post">
            <div>
                Name : <input name="name" type="text" id="">
                Surname : <input name="surname" type="text" id="">
                Mail : <input name="mail" type="text" id="">
                Password : <input name="password" type="password" id="">
                Confirm password : <input name="passwordConfirm" type="password" id="">
            </div>
            <input value="Create my account" type="submit">
        </form>
    </div>
</body>

</html>