<!DOCTYPE html>
<html lang="en">

<%- include('./fragments/headFragment.ejs', {stylesheet: 'SubscribePage.css'}); -%>

<body>
    <%- include('./fragments/menu/menuRestrictFragment.ejs'); -%>
    <%- include('./fragments/notificationFragment.ejs'); -%>
    <div class="subscribe">
        <h1>Subscribe page</h1>
        <form action="/user/create" method="post">
            <div>
                Nom : <input name="name" type="text" id="">
                Prénom : <input name="surname" type="text" id="">
                Mail : <input name="mail" type="text" id="">
                Mot de passe : <input name="password" type="password" id="">
                Confirmer le mot de passe : <input name="passwordConfirm" type="password" id="">
            </div>
            <input value="Envoyer les infos" type="submit">
        </form>
    </div>
    </div>
</body>

</html>