<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="appContainer">
        <a id="logo" href="/">
            <img src="../../assets/logo.png" alt="">
        </a>
        <a class="routerlink" href="/wallets">Gestion</a>
        <span class="routerlink">|</span>
        <a class="routerlink" href="/statistics">Statistics</a>
        <span class="routerlink">|</span>
        <a class="routerlink" href="/premium">Premium</a>
    </div>
    <form class="modal-container" method="POST" action="/wallets/create">
      <span class="modal__title">Create a new wallet</span>
      <div class="modal__content">
        Label : <input type="text" name="label" id="" maxlength="50">
        <br/><br/>
        Type : <select name="type" id="">
            <option value="">--Please choose an option--</option>
            <% for(let i=1 ; i < types.length ; i++) { %>
                <option value="<%= types[i] %>" ><%= types[i] %></option>
            <% } %>
        </select>
      </div>
      <div class="modal__action">
        <input class="vfm-btn" type="submit" value="confirm">
        <a class="vfm-btn" href="/wallets">cancel</a>
      </div>
    </form>
</body>
</html>