<form action="/user/create" method="post">
    <div>
        Nom : <input name="name" type="text" id="">
        Prénom : <input name="surname" type="text" id="">
        Mail : <input name="mail" type="text" id="">
        Mot de passe : <input name="password" type="password" id="">
        Confirmer le mot de passe : <input name="passwordConfirm" type="password" id="">
    </div>
    <input value="Envoyer les infos" type="submit">
</form>