#assetContainer {
    display: flex;
    flex-flow: column nowrap;
    padding-right: 2vw;
    padding-left: 2vw;
}

#firstRow{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

#searchAssetContainer, #renameWalletContainer{
    display: flex;
    flex-flow: row nowrap;
    height: 2rem;
    width: 24rem; 
    max-width: 60vw;
    margin-right: 1rem;
    margin-left: auto;
    margin-bottom: 5vh;
    border-radius: 30px;
    padding-left: 1rem;
    font-size: 1.05rem;
}

#renameWalletContainer{
    margin-left: inherit !important;
}
  
#renameWalletContainer > label {
    max-width : 25%
}

.actionsRow{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 0.5rem;
}

#searchAsset{
    height: 2rem;
    width: 24rem; 
    max-width: 60vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 1rem;
    font-size: 1.05rem;
}

#renameWallet{
    height: 1.7rem;
    width: 24rem; 
    max-width: 60vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 1rem;
    font-size: 1.05rem;
}
  
#searchAsset:focus, #renameWallet:focus{
    outline: none;
}

#submitSearchAsset, #submitRenameWallet{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #364a5e;
    color: #fff;
}

.buttonOther:hover {
    background-color: #49647e !important;
}
  
#assetItemContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.textAlign{
      text-align: center;
      line-height: 2rem;
}

.textAlign > a {
      text-decoration: inherit;
}

.assetCardContainer{
    border: thin solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    min-height: 15rem;
    min-width: 25rem;
    max-height: 40vh;
    max-width: 80vw;
    margin: 1rem;
    overflow: hidden;
}

#quantity, #invested, #choice{
    font-size: 1.05rem;
    max-width: 60%
}

.button{
    margin-top: 1rem;
}

#titleCreate{
    margin-bottom: 1.5rem;
}

#firstRow{
    display: flex;
    flex-flow: row wrap;

}

.deleteButton{
    margin-left: 5%;
    color: white;
    background-color: #364a5e;
    font-size: larger;
    cursor: url('/images/danger-cursor.png'), auto;
}

.deleteButton:hover{
    background-color: red;
}

.infoButton{
    margin-right: 5%;
    color: white;
    background-color: #364a5e;
    font-size: larger;
}

.infoButton:hover{
    background-color: green;
}

#addWalletContainer{
    border: thin solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    height: 15rem;
    width: 25rem;
    max-height: 40vh;
    max-width: 80vw;
    margin: 1rem;
}

.button{
    zoom: 0.75;
}

#assetInfoContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 60rem;
    max-width: 80vw;
}

fieldset{
    width: 60rem;
    max-width: 80vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

legend {
    font-size: 1.5rem;
}

#back{
    margin-right: auto;
}

.modifyForm{
    display: flex;
    flex-flow: row wrap;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 66%;
    justify-content: space-evenly;
}

.modifyForm > input[type="submit"] {
    color: white;
    background-color: #364a5e;
}

#detailField{
    line-height: 1.3rem;
}

@media all and (max-width:630px){
    #assetContainer{
        padding-right: none;
        padding-left: none;
    }
    #searchAsset{
        align-self: center;
    }
    #assetItemContainer{
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .assetCardContainer{
        min-height: inherit;
        min-width: inherit;
        height: 15rem;
        width: 25rem;
    }
    #searchAssetContainer{
        margin-right: 25%;
    }
}