*{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

.button {
    text-align: center;
    background-color: #42b983;
    border-radius: 30px;
    border: 1px solid #18ab29;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    min-width : 18vw;
    min-height : 1.5vh;
}
  
.button:hover {
    background-color:#5cbf92;
}

.buttonOther {
    background-color: #364a5e !important;
    border: 1px solid #23313e !important;
    text-shadow:0px 1px 0px #1a242d !important;
}
  
.buttonOther:hover {
    background-color: #49647e !important;
}

#appContainer a {
    font-weight: bold;
    color: #2c3e50;
}
  
#appContainer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 13vmin;
    margin-bottom: 7vmin;
}

#linkContainer{
    display: flex;
    flex-flow: row wrap;
}
  
#logo{
    margin-right: auto;
}
  
#logo img{
    height: 13vmin;
    width: auto;
    margin-left: 1vmin;
    margin-right: auto;
}
  
.routerlink{
    margin-right: 5vmin;
    text-decoration: none;
}

.notification{
    background-color:lightsalmon;
    border: solid thin black;
    width: 33%;
    max-width: 66%;
    margin-left: 3%;
    padding-left: 1%;
    font-weight: bold;
    margin-bottom: 5%;
}

#mobileSeparator{
    display: none;       
}
   
@media all and (max-width:630px){
    .button{
        align-self: center;
        width : 70vw;
        margin-top : 1rem;
    }
    .routerlink{
        margin-right: 3vmin;
    }
    #appContainer a {
        font-size: 0.9em;
        margin-bottom: 2vh;
        text-decoration: none;
    }
    #linkContainer{
        flex-flow: column-reverse;
        text-align: end;
    }
    #appContainer{
        min-height: 20vh;
        max-height: 25vh;
        margin-bottom: 0vmin;
    }
    #mobileSeparator{
        display: inherit;
        margin-bottom: 12vmin;
        border: solid thin #364a5e;
        background-color: #364a5e;
        width: 80vw;
    }
    .separator{
        display: none;
    }
    #logo img{
        height: 20vmin;
        width: auto;
    }    
}