#homeContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 60rem;
    max-width: 80vw;
}

#welcomeWord{
    color: #42b983;
    font-weight: bold;
}

#welcomeSentence{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

#explanationText{
    font-size: 1.05rem;
}
  
#welcomeContainer{
    border: solid medium black;
    padding: 0.5rem 1rem;
    max-height: 50vh;
    overflow-y: auto;
}
  
#welcomeContainer::-webkit-scrollbar {
    display: none;
}
  
#subAndLog{
    width: 60rem;
    max-width: 80vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 7.5vh;
}
  
@media all and (max-width:630px){
    #subAndLog{
        flex-flow: column nowrap;
    }
}