legend {
    font-size: 1.5rem;
}

label {
    font-size: 1.05rem;
}

.formItem {
    display: flex;
    flex-flow: row nowrap;
    width: 30rem;
    max-width: 60vw;
    margin: 1rem 1rem;
}

.formItem > input {
    margin-left: auto;
    width: 15rem;
    max-width: 30vw;
}

#loginContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 60rem;
    max-width: 80vw;
}
  
#formLoginComponent{
    width: 60rem;
    max-width: 80vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
  
#forgotAndConnect {
    width: 60rem;
    max-width: 80vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 7.5vh;
    margin-left: auto;
    margin-right: auto;
}
  
@media all and (max-width:630px){
    #forgotAndConnect{
      flex-flow: column-reverse nowrap;
    }
}