legend {
    font-size: 1.5rem;
}

#statisticsContainer{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 60rem;
  max-width: 80vw;
}

p{
  font-size: 1.05rem;
}

fieldset{
  width: 60rem;
  max-width: 70vw;
  padding: 2rem;
}