#subscribeContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 60rem;
    max-width: 80vw;
}
  
#formSubscribeComponent{
    width: 60rem;
    max-width: 80vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
  
#createButton{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#createButton > input {
    margin-top: 7.5vh;
}

legend {
    font-size: 1.5rem;
}

label {
    font-size: 1.05rem;
}

.formItem {
    display: flex;
    flex-flow: row nowrap;
    width: 30rem;
    max-width: 60vw;
    margin: 1rem 1rem;
}

.formItem > input {
    margin-left: auto;
    width: 15rem;
    max-width: 30vw;
}