*{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

#appContainer a {
    font-weight: bold;
    color: #2c3e50;
}
  
#appContainer a.router-link-exact-active {
    color: #42b983;
}
  
#appContainer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 13vmin;
    margin-bottom: 7vmin;
}
  
#logo{
    margin-right: auto;
}
  
#logo img{
    height: 13vmin;
    width: auto;
    margin-left: 1vmin;
    margin-right: auto;
}
  
.routerlink{
    margin-right: 5vmin;
}

@media all and (max-width:630px){
    .routerlink{
        margin-right: 3vmin;
    }
    #appContainer a {
        font-size: 0.9em;
    }
}