#walletContainer {
    display: flex;
    flex-flow: column nowrap;
    padding-right: 2vw;
    padding-left: 2vw;
}

#searchWalletContainer{
    display: flex;
    flex-flow: row nowrap;
    height: 2rem;
    width: 24rem; 
    max-width: 60vw;
    margin-right: 1rem;
    margin-left: auto;
    margin-bottom: 5vh;
    border-radius: 30px;
    padding-left: 1rem;
    font-size: 1.05rem;
}
  
#searchWallet{
    height: 2rem;
    width: 24rem; 
    max-width: 60vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 1rem;
    font-size: 1.05rem;
}
  
#searchWallet:focus{
    outline: none;
}

#submitSearchWallet{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #364a5e;
    color: #fff;
}

.buttonOther:hover {
    background-color: #49647e !important;
}
  
#walletItemContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.textAlign{
      text-align: center;
      line-height: 2rem;
}

.textAlign > a {
      text-decoration: inherit;
}

.walletCardContainer{
    border: thin solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    min-height: 15rem;
    min-width: 25rem;
    max-height: 40vh;
    max-width: 80vw;
    margin: 1rem;
    overflow: hidden;
}

#type, #label{
    font-size: 1.05rem;
    max-width: 60%
}

.button{
    margin-top: 1.5rem;
}

#titleCreate{
    margin-bottom: 1.5rem;
}

.deleteButton{
    align-self: flex-end;
    margin-right: 5%;
    color: black;
    font-size: larger;
    cursor: url('/images/danger-cursor.png'), auto;
}

.deleteButton:hover{
    color: red;
}

.renameContainer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.renameContainer > input {
    height: 1.2rem;
}

#addWalletContainer{
    border: thin solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    height: 15rem;
    width: 25rem;
    max-height: 40vh;
    max-width: 80vw;
    margin: 1rem;
}

.button{
    zoom: 0.8;
}

@media all and (max-width:630px){
    #walletContainer{
        padding-right: none;
        padding-left: none;
    }
    #searchWalletContainer{
        margin-right: auto;
        margin-left: auto;
    }
    #walletItemContainer{
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .walletCardContainer{
        min-height: inherit;
        min-width: inherit;
        height: 15rem;
        width: 25rem;
    }
    .modalTitle{
        margin-bottom: 40%;
    }
    .modalAction {
        flex-direction: column;
    }
}