<!-- Head of all pages. The stylesheet is a parameter -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your new online investment portfolio">
    <meta name="keywords" content="Bitcoin, Stocks, Crypto, Wallet, Investment">
    <meta name="author" content="Stiers Nathan">
    <link rel="stylesheet" href="/styles/Global.css">
    <link rel="stylesheet" href="/styles/<%= stylesheet %>">
    <link rel="icon" href="/images/favicon.png">
    <title>Invest ECAMEC</title>
</head>