<!-- Show or hide the notifications sent from the controllers -->

<% if(typeof notification !=='undefined' ){ %>
    <div class="notification">
        <p>
            <%= notification %>
        </p>
    </div>
<% } %>